<header>
    <nav>
        <a href="/">Kieu Garden Posts</a>
        <ul>
            <li><a href="/posts">Posts</a></li>
            <li><a href="/posts/new">Add Post</a></li>
        </ul>
    </nav>
</header>