<header>
    <div class="App-header">Kieu Garden Posts</div>
    
    <nav class="navbar">
        <div>
            <a href="/">
                <img title="Click me" style="width: 50;" src="/images/garden_logo_small.png"
            </a>
            <a href="/posts">Posts</a>
            <a href="/about.html">About</a>
            <a href="/services.html">Services</a>
            <a href="/profile.html">Profile</a>
            <a href="/contact.html">Contact</a>
        </div>
    </nav>
</header>