
<h2>Recently Added</h2>
<div>
    <% posts.forEach(post => { %>
        <a href="posts/<%= post.slug %>" >
            <img height="150" width="100" src="<%= post.pictureImagePath %>" >
        </a>
    <% }) %>
</div>