<div class="form-group">
    <label for="title">Title</label>
    <input required value="<%= post.title %>" type="text" name="title" id="title" class="form-control" >
</div>
<div class="form-group">
    <label for="description">Description</label>
    <textarea name="description" id="description" class="form-control"><%= post.description %></textarea>
</div>
<div class="form-group">
    <label for="publishDate">Publish Date</label>
    <input type="date" name="publishDate" value="<%= post.publishDate == null ? '' : post.publishDate.toISOString().split('T')[0] %>" >
</div>
<% if (post.pictureImagePath != null) { %>
    <div id="img-container" style="width: 200px">
        <img style="width: 200px" src="<%= post.pictureImagePath %>" />
    <div>
    <script>
        var options = {
            width: 300,
            zoomWidth: 400,
            offset: {vertical: 0, horizontal: 10}
        };
        new ImageZoom(document.getElementById("img-container"), options);
    </script>
<% } else { %>
    <div class="form-group">
        <label>Picture</label>
        <input height= "250" width="200" type="file" name="picture" class="filepond" >
    </div>
<% } %>
<div class="mt-2">
    <a href='/' class="btn btn-secondary">Cancel</a>
    <button type="submit" class="btn btn-primary" >Save</button>
</div>
